
:root {
  --text-color: #000000;
  --secondary-text-color: #757575;
  --prymery-text-color: #212121;
  --accent-color: #2196f3;
  --pramery-white-color: #ffffff;
  --pramery-footer-text-color: rgba(255, 255, 255, 0.6);
  --backgroundcolor-hero: #2f303a;
  --pramery-footer-color: #2f303a;
  --secondary-backgraund-color: #f5f4fa;
  --primery-fill-color: #afb1b8;
}


/* Body */

body {
  background-color: var(--pramery-white-color);
  color: var(--prymery-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Утилиты */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  font-size: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo .color-blu {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .color-black {
  color: var(--text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Main-nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */

.site-nav {
  display: flex;
}

.site-nav .nav {
  margin-right: 50px;
}
.site-nav .nav:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: var(--prymery-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.cont-list {
  display: flex;
}

.contakt-nav {
  display: flex;
  margin-left: auto;
}
.contakt-nav .item + .item {
  margin-left: 50px;
}

.contakt-nav .contakt-mail,
.contakt-nav .contakt-tel {
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakt-nav .contakt-mail:hover,
.contakt-nav .contakt-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contakt-nav .contakt-tel:hover,
.contakt-nav .contakt-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mail {
  display: flex;
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.tel {
  display: flex;
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imeges/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: var(--backgroundcolor-hero);
  width: 100%;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .hero-title {
  margin-bottom: 30px;
  color: var(--pramery-white-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--pramery-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

.backdrop-hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop-hero.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Modal */

.modal-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);

  width: 528px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.closed-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-closed {
  padding: 0;
}

.closed-modal:hover,
.closed-modal:focus {
  fill: var(--accent-color);
}

.form {
  width: 448px;
}

.form-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  margin-bottom: 12px;

  color: var(--prymery-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}

.form-field label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-field input {
  margin: 0;
  padding: 12px 16px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-comit label {
  margin-bottom: 4px;
  display: flex;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.check-box .policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--accent-color);
}

.coment {
  resize: none;

  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment:hover,
.coment:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-input {
  padding-right: 42px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-input:hover + .icon-form,
.form-input:focus + .icon-form {
  fill: var(--accent-color);
}

.check-box {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.icon-box {
  display: inline-block;
  position: absolute;
  border: 2px solid var(--prymery-text-color);
  border-radius: 4px;
  height: 15px;
  width: 16px;

  top: 10%;
  left: 10px;
  background-origin: border-box;
  /* border-color:var(--prymery-text-color); */
  fill: var(--pramery-white-color);
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-input:checked + .icon-box {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.send {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: none;

  padding: 10px 52px;

  color: var(--pramery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  caret-color: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Feature */

.title-feature-text {
  padding-top: 30px;
}

.feature-list {
  display: flex;
}
.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .item {
  width: 270px;
}

.feature-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.feature-list .feature-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
}

.fonts {
  display: flex;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-image: url(../imeges/backgr.svg);
  border-radius: 4px;
  text-align: center;
  /* margin-bottom: 55px; */
}

/* Works */

.example {
  display: flex;
}

.example .item + .item {
  margin-left: 30px;
}
.works .works-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.imeges-thumb {
  position: relative;
}

.images-text {
  position: absolute;
  padding: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.img-fonts {
  position: absolute;

  bottom: 0;
  right: 0;
  left: 0;

  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  color: var(--pramery-white-color);
}

/* Team */

.team {
  background-color: var(--secondary-backgraund-color);
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.backgr-color {
  background-color: var(--pramery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team .photo-team {
  margin-bottom: 30px;
}

.team-descript {
  margin-bottom: 16px;
}

.team .team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .team-prof {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Иконки на соц сети  */

.social {
  display: inline-flex;
  margin-bottom: 30px;
}

.icon-social {
  margin-right: 10px;
}
.icon-social:last-child {
  margin-right: 0;
}

.icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  fill: var(--primery-fill-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  fill: var(--pramery-white-color);
}

.social-icon {
  display: flex;
  width: 20px;
  height: 20px;
}

/* Clients */

.title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--prymery-text-color);
}

.icon-list {
  display: flex;
}

.icon {
  display: inline-block;
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--primery-fill-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list .icon-clients {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.icon-list .icon-clients:last-child {
  margin-right: 0;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Footer */

.footer {
  background-color: var(--pramery-footer-color);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 0;
  text-decoration: none;
}
.footer-logo .color-blu {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo .color-white {
  color: var(--pramery-white-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address {
  display: flex;
  flex-direction: column;
}

.address .address-name {
  color: var(--pramery-white-color);
  margin-bottom: 9px;
  display: inline-block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.address-mail {
  margin-bottom: 9px;
}

.address .address-mail,
.address-tel {
  color: var(--pramery-footer-text-color);

  display: inline-block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

/* footer icon */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-title-social {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pramery-white-color);
  text-align: center;
  margin-bottom: 20px;
}

.social-wrap {
  margin-left: 70px;
}

.footer-social {
  display: inline-flex;
}

.footer-icon-social {
  margin-right: 10px;
}
.footer-icon-social:last-child {
  margin-right: 0;
}

.footer-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  fill: var(--pramery-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
  fill: var(--pramery-white-color);
}

.footer-social-icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.subscribe {
  margin-left: 93px;
}

.subscribe-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pramery-white-color);
  text-align: center;
  margin-bottom: 20px;
}

.input-btn {
  display: inline-flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--pramery-footer-color);
  color: var(--pramery-white-color);
  outline: none;
}

.subscribe-btn {
  position: relative;

  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  padding: 10px 62px 10px 28px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--pramery-white-color);
  background-color: var(--accent-color);
}

.icon-send {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15.19%;
}

/* Portfolio */

.portfolio {
  display: inline-block;
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.list-button .item + .item {
  margin-left: 8px;
}

.list-button .buttons {
  color: var(--prymery-text-color);
  background-color: var(--secondary-backgraund-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-button .buttons:hover,
.list-button .buttons:focus {
  color: var(--pramery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card .item {
  width: calc(100% - 30px) / 3;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 30px;
}

.card .item:nth-child(3n) {
  margin-right: 0px;
}

.card .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}


.portf-list:hover,
.portf-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.card .img-project {
  display: block;
}

.text-title {
  border: 1px solid #eeeeee;
  border-top: none;
}

.card .card-title {
  color: var(--prymery-text-color);
  margin-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card .card-text {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  overflow: auto;
  color: var(--pramery-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  /* transition: transform 250ms cubic-bezier (0.4, 0, 0.2, 1); */
  transition: transform 250ms linear;
}

.card-img {
  display: block;
}

.card-img:hover .overlay-text,
.card-img:focus .overlay-text {
  transform: translateY(0);
}
